<div class="well">
    <table class="simple-dog">
        <tr>
          <td>Name:</td>
          <td><%= dog.name %></td>
          <td>
            <div class="btn-group" style="float:right">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                More
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit', edit_dog_path(dog) %></li>
                <li><%= link_to 'Destroy', dog, method: :delete, data: {confirm: 'Are you sure?'} %></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>Age:</td>
          <td><%= dog.age_in_words%></td>
          <td></td>
        </tr>
        <tr>
          <td>Foto:</td>
          <td>
            <a class="thumbnail">
              <img src="<%= dog.picture.url(:medium) %>" alt="<%= dog.name %>">
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <% unless dog.skills.empty? %>
                <%= render :partial => 'skills/skills', :object => dog.skills, :as => :skills %>
            <% end %>
          </td>
        </tr>
    </table>
</div>