<%= simple_form_for(@dog) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :birthday %>
    <%= f.hidden_field :skill_ids %>
  </div>

  <a href="javascript:void(0);" onclick="javascript:dogsView.addSkills('Skills','<%= skills_path :format=>:js, :choose=>true %>');">Add skills</a>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
